body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.btn-icon {
  position: absolute !important;
  top: 24%;
  color: #d1d9e6;
  width: 32px;
  height: 32px;
  z-index: 9999;
}
.btn-icon.btn-icon-smile {
  right: 40px;
}
.btn-icon.btn-icon-file {
  right: 10px;
}
