body {
  margin: 0;
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.width-100pc{
  width: 100%;
}

.mg-t-1 {
  margin-top: 1em;
}

.link {
  text-decoration: none;
}

.left-column {
  mix-blend-mode: normal;
  .bubble-icon {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      display: block;
      margin: 0 auto;
    }
    p.MuiTypography-root {
      color: #fff;
      font-size: 1.625em;
      margin-top: 40px;
    }
  }
}
form {
  .MuiFormControl-root {
    width: 100%;
    margin-bottom: 1em;
    .MuiFormLabel-root {
      color: #B0B0B0;
    }
    .MuiInput-underline:hover:not(.Mui-disabled)::before {
      border-bottom: 2px solid #D5DFEE;
    }
    .MuiInput-underline::before {
      border-bottom: 1px solid #D5DFEE; 
    }
  }
}

@media only screen and (max-width: 768px)  {
  .left-column {
    max-height: 270px;
    .bubble-icon {
      position: relative;
      width: 80%;
      img {
        display: block;
        margin: 0 auto;
      }
      p.MuiTypography-root {
        color: #fff;
        font-size: 1.2em;
      }
    }
  }
}