.Login-Container {
  .right-column {
    margin-top: 1em;
    .banner {
      font: 1.5em Open Sans;
      font-weight: 600;
    }
    p.MuiTypography-root {
      display: inline-block;
      margin: auto 0;
    }
    button {
      width: 170px;
      height: 56px;
      margin: 0 1em;
      background-color: #fff;
    }
    form {
      width: 70%;
      margin: auto;
      .btn-submit {
        height: 56px;
        width: 160px;
        background-color: #3A8DFF;
        color: #fff;
      }
      .forgot-password {
        position: absolute;
        right: 12px;
        top: 35%;
        font-size: 12px;
        text-decoration: none;
        color: #3A8DFF;
      }
    }
  }
}